<h1> Create Item for Inventory</h1>

<%= form_with url: "/items/create_myInventory", method: :post do |form| %>
    <div>
        <%= form.label :name, "Item name:" %>
        <%= form.text_field :name, :required => true %>
    </div>

     <div>
        <%= form.label :category, "Item category:" %>
        <%= form.text_field :category, :required => true %>
    </div>

     <div>
        <%= form.label :price, "Item price:" %>
        <%= form.text_field :price, :required => true %>
    </div>

     <div>
        <%= form.label :stock, "Item stock:" %>
        <%= form.number_field :stock, :required => true %>
    </div>

    <div>
        <%= form.label :picture, style: "display: block", class:"form-label" %>
        <%= form.file_field :picture, class:"form-control" , id:"inputGroupFile01" %>
    </div>

    <br><br>
    <%= form.submit "submit" %>
<% end %>

<br><br>
<%= link_to "Back to Inventory", '/my_inventory', class:"btn btn-info" %>