<style>
  form {
    width: 300px;
    margin: 0 auto;
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    margin-top: 20px;
  }
</style>

<h2>Log In</h2>
<%=@message%>
<%= form_tag '/login/create' do %>
Email: <%= text_field_tag :email %><br>
Password: <%= password_field_tag :password %><br>
<%= submit_tag "Log In" %>
<% end %>
</div>