<h1>Editing market</h1>

<%= render "form", market: @market %>

<br>

<div>
  <%= link_to "Edit more detail", "/items/#{@market.item_id}/edit", class:"btn btn-warning" %>
</div>

<br>
<div>
  <%= link_to "Show this market", @market %> |
  <% if (@myrole == 'admin') %>
    <%= link_to "Back to markets", markets_path, class:"btn btn-info" %>
  <% end %>
  <%= link_to "Back to Inventory", '/my_inventory', class:"btn btn-info" %>
</div>
